body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:731px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:502px;
  height:731px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:358px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:502px;
  height:88px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:498px;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:116px;
  width:485px;
  height:447px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:216px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:53px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:116px;
  width:485px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:481px;
  word-wrap:break-word;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:124px;
  width:50px;
  height:33px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:46px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:193px;
  width:80px;
  height:80px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:273px;
  width:300px;
  height:66px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:356px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:356px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
